<div class="fiexd-btn">
        <ul>
            <li class="icon"><img src="../../image/msg.png" alt="" srcset=""></li>
            <li class="m-flex now-call">
                <img src="../../image/news.png" alt="在线留言" srcset="">
                <a href="javascript:;">在线留言</a>
            </li>
            <li class="m-flex">
                <img src="../../image/weixin-icon.png" alt="微信咨询" srcset="">
                <a href="javascript:;">微信咨询</a>
                <div class="info">
                    <p>微信扫描</p>
                    <img src="../../image/weixin.png" alt="微信咨询" srcset="">
                </div>
            </li>
            <li class="m-flex">
                <img src="../../image/telephone.png" alt="电话咨询" srcset="">
                <a href="javascript:;">电话咨询</a>
                <div class="info">13611267041</div>
            </li>
        </ul>
    </div>