<div id="footer-container">
    <div class="all-footer w-footer">
        <div class="all-footer-top">
            <div class="w-f-t-item">
                <h5>关于我们</h5>
                <ul>
                    <li><a href="javascript:;">服务热线</a></li>
                    <li><a href="javascript:;">知鱼简介</a></li>
                    <li><a href="javascript:;">技术团队</a></li>
                    <li><a href="javascript:;">发展流程</a></li>
                    <li><a href="javascript:;">加入我们</a></li>
                </ul>
            </div>
            <div class="w-f-t-item">
                <h5>合作流程</h5>
                <ul>
                    <li><a href="javascript:;">确定需求</a></li>
                    <li><a href="javascript:;">项目设计</a></li>
                    <li><a href="javascript:;">项目开发</a></li>
                    <li><a href="javascript:;">项目部署</a></li>
                    <li><a href="javascript:;">项目上线</a></li>
                    <li><a href="javascript:;">项目维护</a></li>
                </ul>
            </div>
            <div class="w-f-t-item">
                <h5>集团子公司</h5>
                <ul>
                    <li><a href="javascript:;">知鱼网络科技</a></li>
                    <li><a href="javascript:;">木姜子科技</a></li>
                    <li><a href="javascript:;">问我学院</a></li>
                    <li><a href="javascript:;">知鱼财经</a></li>
                </ul>
            </div>
            <div class="w-f-t-item wow wobble">
                <p></p>
                <div class="all-share-png">
                    <img src="../../image/weixin.png" alt="">
                </div>
                <p>关注微信</p>
            </div>
        </div>
        <div class="all-footer-db">
            <p>
                <span>© 2018-2020 天津木姜子科技有限公司</span>
            </p>
            <p>
                    友情链接：
                    <!-- <a target="_blank" href="https://www.gingernet.vip">木姜子科技 </a>  -->
                    
                 <a target="_blank" href="http://www.zhifish.com/">
                    知鱼财经 </a> | 
                    <a target="_blank" href="http://www.wenwoha.com">
                        问我学院 </a>
            </p>
        </div>
    </div>
</div>    