<div class="all-footer w-footer">
    <div class="m-flex all-footer-top">
        <div class="w-f-t-item">
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
        <div class="w-f-t-item">
            <ul>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们关于我们关于我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">关于我们</a></li>
            </ul>
        </div>
        <div class="w-f-t-item">
            <p>分享我们</p>
            <div class="all-share-png">
                <img src="./../image/app.png" alt="">
            </div>
        </div>
    </div>
    <div class="all-footer-db">
        <p class="m-flex">
            <span>网络出版服务许可证：(总)网出证(京)字第22号</span>
            <span>网络出版服务许可证：(总)网出证(京)字第22号</span>
        </p>
        <p class="m-flex">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802023666">
京公网安备 11010802023666号</a>
        </p>
    </div>
</div>