<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>天津木姜子科技有限公司-机构网站定制开发-APP定制开发-小程序定制开发-直播平台定制开发-在线教育平台开发-区块链平台搭建-数字火币股票交易所定制开发-技术服务与技术咨询-一站式公司注册-记账报税-zhifish.cn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name= "Keywords" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <meta name="description" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="theme-color" content="#fafafa">
    <style>

    </style>
</head>

<body>
    <!-- 导航条设置 -->
    <div class="nav">
        @require('./components/header.ejs', {"tag": "home"})
    </div>

    <!-- banner图设置 -->
    <div class="swiper-container w-swiper-home" id="swiper-banner">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="./../image/banner1.png" alt="banner图"></div>
            <div class="swiper-slide"><img src="./../image/banner2.png" alt="banner图"></div>
            <div class="swiper-slide"><img src="./../image/banner3.png" alt="banner图"></div>
            <div class="swiper-slide"><img src="./../image/banner4.png" alt="banner图"></div>
            <div class="swiper-slide"><img src="./../image/banner5.png" alt="banner图"></div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev w-s-none" style="background-size: 60%"></div>
        <div class="swiper-button-next w-s-none" style="background-size: 60%"></div>

    </div>

    <!-- 服务 -->
    <div class="all-main-list">
        <div class="all-item">
            <h3>产品服务</h3>
            <p class="all-title-sub">多种的产品服务，使我们更全面</p>
            <ul class="m-flex s-item-1-ul">
                
            </ul>
        </div>
    </div>

    <!-- 解决方案 -->
    <div class="all-main-list i-item-bg">
        <div class="all-item">
            <h3>解决方案</h3>
            <p class="all-title-sub">更多解决方案，只为更好的服务</p>
            <ul class="m-flex s-item-2-ul">
                
            </ul>
            <div class="i-main2-footer ">
                <a href="solve.html">查看更多>></a>
            </div>
        </div>
    </div>

    <!-- 咨询 -->
    <div class="all-main-list">
        <div class="all-item">
            <h3>知鱼咨询</h3>
            <p class="all-title-sub" >查看咨询，更好的了解我们</p>
            <ul class="m-flex s-item-3-ul">
                
            </ul>
            <div class="i-main2-footer wow backInDown" data-wow-duration="0.5s" data-wow-delay="2.0s">
                <a href="news.html">查看更多>></a>
            </div>
        </div>
    </div>

    <!-- 合作客户 -->
    <div class="all-main-list i-item-bg i-kehu-bgimage">
        <div class="all-item">
            <h3>合作客户</h3>
            <p class="all-title-sub">诚信合作，只为更好的你</p>
            <div class="m-flex i-work">
                <div class="i-bg-left w-pp-none"></div>
                <div class="m-flex i-work-mid">
                    <div class="i-work-info m-flex">
                        <div>
                            <p class="wow flipInX" data-wow-duration="0.5s" data-wow-delay="0.3s"><span>5</span><i>+</i></p>
                            <p>5年APP，小程序行业经验</p>
                        </div>
                        <div>
                            <p class="wow flipInX" data-wow-duration="0.5s" data-wow-delay="0.6s"><span>30</span><i>+</i></p>
                            <p>30余家合作客户的选择</p>
                        </div>
                        <div>
                            <p class="wow flipInX" data-wow-duration="0.5s" data-wow-delay="0.9s"><span>24</span><i>小时</i></p>
                            <p>管家式服务，售后长期稳定无忧</p>
                        </div>
                    </div>
                    <ul class="m-flex s-item-4-ul">
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.2s"><a href="#">木姜子科技</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s"><a href="#">我问学院</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.4s"><a href="#">叮当猫舍</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.5s"><a href="#">巡宇投贷</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.6s"><a href="#">国邦科技</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.7s"><a href="#">知鱼财经</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.8s"><a href="#">阿里云</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.9s"><a href="#">Biwork</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.0s"><a href="#">西南家政</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.1s"><a href="#">家政服务超市</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.2s"><a href="#">搜米域名</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.3s"><a href="#">UmiCash</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.4s"><a href="#">TBS Wallet</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.5s"><a href="#">XQS Token</a></li>
                        <li class="wow zoomIn" data-wow-duration="0.5s" data-wow-delay="1.6s"><a href="#">FBT Wallet</a></li>
                        <i></i><i></i><i></i><i></i><i></i><i></i>
                    </ul>
                </div>        
                <div class="i-bg-right w-pp-none"></div>
            </div>
        </div>
    </div>
    @require('./components/fiexdbtn.ejs')
    <!-- 底部 -->
    <!-- <my-footer></my-footer> -->
    <div class="nav">
        @require('./components/footer.ejs')
    </div>

    
</body>

</html>