<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>天津木姜子科技有限公司-机构网站定制开发-APP定制开发-小程序定制开发-直播平台定制开发-在线教育平台开发-区块链平台搭建-数字火币股票交易所定制开发-技术服务与技术咨询-一站式公司注册-记账报税-zhifish.cn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name= "Keywords" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <meta name="description" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!-- 导航条设置 -->
    <div class="nav">
        @require('./components/header.ejs', {"tag": "news"})
    </div>

    <!-- banner图设置 -->
    <div class="all-banner">
        <div class="all-banner-item">
            <img src="../image/new_banner.png" alt="banner图">
        </div>
    </div>

    <div class="all-main-list">
        <div class="all-item">
            <h3>新闻资讯</h3>
            <p class="all-title-sub">查看咨询，更好的了解我们</p>
            <ul class="s-news" id='ejs-template'>
                
                <!-- <li class="m-flex">
                    <div class="s-date"><p>10/22</p><p>2020</p></div>
                    <div class="s-line"></div>
                    <img src="./../image/weixin.png" alt="">
                    <div class="s-content">
                        <a href="#">
                            <h5>知鱼网络科技与木姜子科技达就区块链业务成战略合作</h5>
                            <p>2020 年 2 月 16 日，知鱼网络科技就区块链业务与国内知名区块链研发公司天津木姜子科技达成战略合作，知鱼网络科技将依托木姜子科技来发展自己的区块链业务</p>
                        </a>
                        
                    </div>
                </li>
                <li class="m-flex">
                    <div class="s-date"><p>10/22</p><p>2020</p></div>
                    <div class="s-line"></div>
                    <img src="./../image/weixin.png" alt="">
                    <div class="s-content">
                        <a href="#">
                            <h5>知鱼网络科技与问我学院开展在线教育系统内部技术交流会</h5>
                            <p>在线教育是现在乃至未来发展很好的一个方向，问我学院和知鱼网络科技的此次合作将会让问我学院进入新得赛道</p>
                        </a>
                    </div>
                </li> -->
            </ul>
        </div>
    </div>
    @require('./components/fiexdbtn.ejs')
    <!-- 底部 -->
    <div class="nav">
        @require('./components/footer.ejs')
    </div>
</body>
</html>