<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>天津木姜子科技有限公司-机构网站定制开发-APP定制开发-小程序定制开发-直播平台定制开发-在线教育平台开发-区块链平台搭建-数字火币股票交易所定制开发-技术服务与技术咨询-一站式公司注册-记账报税-zhifish.cn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name= "Keywords" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <meta name="description" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!-- 导航条设置 -->
    <div class="nav">
        @require('./components/header.ejs', {"tag": "product"})
    </div>

    <!-- banner图设置 -->
    <div class="all-banner">
        <div class="all-banner-item">
            <img src="../image/product_banner.png" alt="banner图">
        </div>
    </div>

    <div class="all-main-list">
        <div class="all-item">
            <h3 class="p-main-title">产品详情</h3>
            <p class="all-title-sub"></p>
            <div class="pr-detail-main">
                <div class="m-flex p-d-m-item">
                    <div>
                        <p>产品功能</p>
                    </div>
                    <ul class="m-flex p-d-m-item-right ejs-ul-1">
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <i></i><i></i><i></i>
                    </ul>
                </div>
                <div class="m-flex p-d-m-item">
                    <div>
                        <p>产品优势</p>
                    </div>
                    <ul class="m-flex p-d-m-item-right p-right-1 ejs-ul-2">
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <li>
                            <h6>蓝牙通信</h6>
                            <p>提供和第三方交易所和钱包接入的蓝牙通信接口，客户可以根据自己的需求对接开发</p>
                        </li>
                        <i></i><i></i><i></i>
                    </ul>
                </div>
                <div class="m-flex p-d-m-item">
                    <div>
                        <p>帮助文档</p>
                    </div>
                    <ul class="m-flex p-d-m-item-right p-right-4 ejs-ul-4">
                        <!-- <a class="m-flex">
                            <img src="/media/cos_logo/2020/06/08/product_pic11.png" alt="logo" srcset="">
                            <p class="title"></p>
                            <p class="p-p"></p>
                        </a>
                        <i></i><i></i><i></i> -->
                    </ul>
                </div>

                <div class="m-flex p-d-m-item">
                    <div>
                        <p>应用场景</p>
                    </div>
                    <ul class="m-flex p-d-m-item-right p-right-2 ejs-ul-3">
                        <!-- <li class="m-flex">
                            <img src="/media/cos_logo/2020/06/08/product_pic11.png" alt="logo" srcset="">
                            <div>
                                <p class="title">特氟龙</p>
                                <p class="p-p">丰富的信息展示</p>
                            </div>
                        </li>
                        <i></i><i></i><i></i> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    @require('./components/fiexdbtn.ejs')
    <!-- 底部 -->
    <div class="nav">
        @require('./components/footer.ejs')
    </div>
</body>

</html>