<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <title>天津木姜子科技有限公司-机构网站定制开发-APP定制开发-小程序定制开发-直播平台定制开发-在线教育平台开发-区块链平台搭建-数字火币股票交易所定制开发-技术服务与技术咨询-一站式公司注册-记账报税-zhifish.cn</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name= "Keywords" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <meta name="description" content="机构网站定制开发,APP定制开发,小程序定制开发,直播平台定制开发,在线教育平台开发,区块链平台搭建,数字火币股票交易所定制开发,技术服务与技术咨询,天津知鱼网络科技有限公司，贵州知鱼网络科技有限公司">
    <link rel="manifest" href="site.webmanifest">
    <link rel="apple-touch-icon" href="icon.png">

    <meta name="theme-color" content="#fafafa">
</head>

<body>
    <!-- 导航条设置 -->
    <div class="nav">
        @require('./components/header.ejs', {"tag": "we"})
    </div>

    <!-- banner图设置 -->
    <div class="all-banner">
        <div class="all-banner-item">
            <img src="../image/about_banne.png" alt="banner图">
        </div>
    </div>

    <div class="w-main-text">
        <h4>公司简介</h4>
        <div class="w-jj"></div>
    </div>
    <div class="w-main-text">
        <h4>技术团队</h4>
        <div class="w-td"></div>
    </div>
    <div class="w-main-text">
        <h4>发展流程</h4>
        <div class="s-fazhan">
            <ul class="m-flex s-fz-ul">
                <!-- <li class="m-flex">
                    <span class="w-pp-none"> 2016</span>
                    <div>在北京成立问我技术团队，主要为社区技术人员提供服务</div>
                </li>
                <li class="m-flex">
                    <span class="w-pp-none">2018</span>
                    <div>正式成立天津公司，合作客户达到 20 多家</div>
                </li>
                <li class="m-flex">
                    <span class="w-pp-none">2019</span>
                    <div>和知鱼财经，木姜子科技达成战略合作，并为 80 多家客户提供技术服务</div>
                </li>
                <li class="m-flex">
                    <span class="w-pp-none">2020</span>
                    <div>形成了 50 多个成型的产品，并成立了贵州分公司</div>
                </li> -->
            </ul>
        </div>
    </div>
    <div class="w-main-text">
        <h4>联系我们</h4>
        <div class="we-contact m-flex">
            <ul class="m-flex we-contact-list">
                <li class="m-flex"><i></i>QQ：1461685273</li>
                <li class="m-flex"><i></i>电话：13261886450</li>
                <li class="m-flex"><i></i>邮箱：guoshijiang2012@163.com</li>
            </ul>
            <div>
                <img class="wow zoomIn" src="./../image/weixin.png" alt="">
                <p>请关注官方微信号</p>
            </div>
        </div>
    </div>

    @require('./components/fiexdbtn.ejs')
    <!-- 底部 -->
    <!-- <my-footer></my-footer> -->
    <div class="nav">
        @require('./components/footer.ejs')
    </div>
</body>

</html>